.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  max-width: 300px;
  line-height: 2rem;
  text-align: center;
}

.button {
  background-color: var(--button-color);
  border-radius: 100vh;
  margin-top: 1.2rem;
  text-transform: uppercase;
}
