.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  max-height: 64px;
  background-color: var(--main-background);
  border-bottom: 1px solid gray;
  font-size: 2rem;
}   
